@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
#Seja{
    font-family: 'Source Code Pro';
}
#nomeAdemar {
    font-size: 27px;
    font-family: 'Source Code Pro';
}
.nomeAdemar {
    font-size: 30px;
    font-family: 'Source Code Pro';
}